@page
@model inz.Pages.AdminContinentCreateModel
@{
    ViewData["Title"] = "Trip page";
}

@if (User.IsInRole("Admin"))
{
    <form method="post">
        <div class="form-group">
            <label>Nazwa kontynentu</label>
            <br />
            <input asp-for="name" class="form-control" placeholder="Wprowadź nazwę">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Stwórz</button>
    </form>
}
else
{
    Response.Redirect("/Index");
}